.header__personBox
   h1.heading--1.header__heading Web Developer
   img.header__img(src="assets/img/john-smith.jpg", alt="John Smith")
   h3.header__name John Smith
   a.header__btn(href="#portfolio") Projects