h2.heading--2.projects__heading my projects
.projects__grid.u-flex-center
   +project('architect website', 'HTML / CSS / JS', 'project-1')
   +project('budget app', 'React JS', 'project-2')
   +project('wine house', 'HTML / CSS / JS', 'project-3')
   +project('task manager', 'React JS', 'project-4')
   +project('the road', 'HTML / CSS / JS', 'project-5')
   +project('food recipe app', 'React JS', 'project-6')
   +project('slideshow', 'HTML / CSS / JS', 'project-7')
   +project('hamburguer menu', 'HTML / CSS / JS', 'project-8')
   +project('css grid menu', 'HTML / CSS / JS', 'project-9')