h2.heading--2.skills__heading About Me
.skills__wrapper 
   +skillBar('HTML', 97)
   +skillBar('CSS', 89)
   +skillBar('JavaScript', 85)
   +skillBar('SASS', 87)
   +skillBar('React JS', 80)
   +skillBar('Node JS', 70)
   +skillBar('Mongo DB', 50)
.skills__services
   +serviceCard('creative', 'far fa-lightbulb')
   +serviceCard('problem solving', 'fas fa-cut')
   +serviceCard('fast', 'fas fa-tachometer-alt')
   +serviceCard('dynamic', 'fas fa-rocket')